# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# React Native
android/
ios/
*.log
*.d.ts

# Gradle files
*.log
gradle-wrapper.properties
.gradle/

# IntelliJ-based IDEs
.idea/

# Visual Studio Code
.vscode/

# npm
*.pid
*.seed
*.pid.lock

# TypeScript
*.tsbuildinfo

# Expo
.expo/
__generated__/
.web/

# Android
build/
local.properties

# iOS
build/
Pods/
*.xcworkspace/
*.xcodeproj/
*.xcuserdata/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
Thumbs.db
ehthumbs.db
.DS_Store
Desktop.ini

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

Educraft_Server